---
interface Props {
  padding: string
  borderWidth: string
  invert: boolean
}
const { padding, borderWidth, invert } = Astro.props
---

<div class='box'>
  <slot />
</div>

<style define:vars={{ padding, borderWidth }}>
  .box {
    padding: var(--s1);
    border: var(--border-thin) solid;
    --color-light: #fff;
    --color-dark: #000;
    color: var(--color-dark);
    background-color: var(--color-light);
  }

  .box * {
    color: inherit;
  }

  .box.invert {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
</style>
